/* #region desktop */
h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
}

h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  color: var(--brand-dark);
}

h3 {
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
}

h4 {
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
}

h5 {
  font-size: 20px;
  line-height: 140%;
}

p {
  font-size: 16px;
  line-height: 150%;
}

button {
  font-weight: 700;
  font-size: 17px;
  line-height: 130%;
}

a {
  font-size: 16px;
  line-height: 150%;
}
/* #endregion */

/* #region mobile-tablet */
@media screen and (min-width: 375px) and (max-width: 768px) {
  h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 0.01em;
  }

  h2 {
    font-weight: 700;
    font-size: 25px;
    line-height: 140%;
    letter-spacing: 0.01em;
  }

  h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0.01em;
  }

  h4 {
    font-weight: 700;
    font-size: 19px;
    line-height: 140%;
    letter-spacing: 0.01em;
  }

  h5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.01em;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
  }

  button {
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0.01em;
  }
}
/* #endregion */
