:root {
        --font-family: 'Gotham Pro',
            serif;
        --second-family: "Inter",
            sans-serif;;
        --third-family: "Montserrat",
            sans-serif;;
        --blue: #1749b3;
        --red: #fe0000;
        --text: #333;
        --brand-dark: #171717;
        --white: #fff;
        --background: #ecf3fb;
    }