<section class="faq-section">
  <div class="container">
    <h2 class="faq-title">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-item">
        <div class="faq-list-question-container">
          <h3 class="faq-item-subtitle">
            The set time has passed, but the invoice has not yet arrived, what
            should I do?
          </h3>
          <button type="button" class="faq-item-btn">
            <svg class="faq-item-btn-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-FAQ-btn"></use>
            </svg>
          </button>
        </div>
        <p class="faq-item-answer-text">
          Payment options we currently have: PayPal, Bitcoin.Payment options we
          currently have: PayPal, Bitcoin.Payment options we currently have:
          PayPal, Bitcoin.Payment options we currently have: PayPal,
          Bitcoin.Payment options we currently have: PayPal, Bitcoin.
        </p>
      </li>
      <li class="faq-item">
        <div class="faq-list-question-container">
          <h3 class="faq-item-subtitle">
            Can I change my Netflix account email and password after purchase?
          </h3>
          <button type="button" class="faq-item-btn">
            <svg class="faq-item-btn-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-FAQ-btn"></use>
            </svg>
          </button>
        </div>
        <p class="faq-item-answer-text">
          Payment options we currently have: PayPal, Bitcoin.Payment options we
          currently have: PayPal, Bitcoin.Payment options we currently have:
          PayPal, Bitcoin.Payment options we currently have: PayPal,
          Bitcoin.Payment options we currently have: PayPal, Bitcoin.
        </p>
      </li>
      <li class="faq-item">
        <div class="faq-list-question-container">
          <h3 class="faq-item-subtitle">
            Can I add a phone number for password recovery?
          </h3>
          <button type="button" class="faq-item-btn">
            <svg class="faq-item-btn-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-FAQ-btn"></use>
            </svg>
          </button>
        </div>
        <p class="faq-item-answer-text">
          Payment options we currently have: PayPal, Bitcoin.Payment options we
          currently have: PayPal, Bitcoin.Payment options we currently have:
          PayPal, Bitcoin.Payment options we currently have: PayPal,
          Bitcoin.Payment options we currently have: PayPal, Bitcoin.
        </p>
      </li>
      <li class="faq-item">
        <div class="faq-list-question-container">
          <h3 class="faq-item-subtitle">
            How soon will I receive the account information I ordered?
          </h3>
          <button type="button" class="faq-item-btn">
            <svg class="faq-item-btn-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-FAQ-btn"></use>
            </svg>
          </button>
        </div>
        <p class="faq-item-answer-text">
          Payment options we currently have: PayPal, Bitcoin.Payment options we
          currently have: PayPal, Bitcoin.Payment options we currently have:
          PayPal, Bitcoin.Payment options we currently have: PayPal,
          Bitcoin.Payment options we currently have: PayPal, Bitcoin.
        </p>
      </li>
      <li class="faq-item">
        <div class="faq-list-question-container">
          <h3 class="faq-item-subtitle">How to pay?</h3>
          <button type="button" class="faq-item-btn">
            <svg class="faq-item-btn-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-FAQ-btn"></use>
            </svg>
          </button>
        </div>
        <p class="faq-item-answer-text">
          Payment options we currently have: PayPal, Bitcoin.Payment options we
          currently have: PayPal, Bitcoin.Payment options we currently have:
          PayPal, Bitcoin.Payment options we currently have: PayPal,
          Bitcoin.Payment options we currently have: PayPal, Bitcoin.
        </p>
      </li>
    </ul>
    <button type="button" class="faq-support-btn">Support</button>
  </div>
</section>
