<section class="faq-section">
  <div class="container">
    <h2 class="faq-title">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-item">
        <div class="faq-list-question-container">
          <h3 class="faq-item-subtitle">
            The set time has passed, but the invoice has not yet arrived, what
            should I do?
          </h3>
          <button type="button" class="faq-item-btn">
            <svg class="faq-item-btn-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-FAQ-btn"></use>
            </svg>
          </button>
        </div>
        <p class="faq-item-answer-text">
          If the set time has passed and you have not received your invoice, we
          recommend checking your email's spam or junk folder first. If it's not
          there, please contact our support team to investigate and resolve the
          issue promptly.
        </p>
      </li>
      <li class="faq-item">
        <div class="faq-list-question-container">
          <h3 class="faq-item-subtitle">
            Can I change my Netflix account email and password after purchase?
          </h3>
          <button type="button" class="faq-item-btn">
            <svg class="faq-item-btn-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-FAQ-btn"></use>
            </svg>
          </button>
        </div>
        <p class="faq-item-answer-text">
          Yes, you can change your Netflix account email and password after
          purchase. Simply log into your Netflix account and update your details
          in the account settings section.
        </p>
      </li>
      <li class="faq-item">
        <div class="faq-list-question-container">
          <h3 class="faq-item-subtitle">
            Can I add a phone number for password recovery?
          </h3>
          <button type="button" class="faq-item-btn">
            <svg class="faq-item-btn-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-FAQ-btn"></use>
            </svg>
          </button>
        </div>
        <p class="faq-item-answer-text">
          Yes, you can add a phone number for password recovery. It is
          recommended to update your account settings to include a recovery
          phone number for added security.
        </p>
      </li>
      <li class="faq-item">
        <div class="faq-list-question-container">
          <h3 class="faq-item-subtitle">
            How soon will I receive the account information I ordered?
          </h3>
          <button type="button" class="faq-item-btn">
            <svg class="faq-item-btn-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-FAQ-btn"></use>
            </svg>
          </button>
        </div>
        <p class="faq-item-answer-text">
          Typically, you will receive the account information immediately after
          purchase via email. If there is any delay, please check your spam or
          junk folder. If you still haven’t received it, please contact our
          support team.
        </p>
      </li>
      <li class="faq-item">
        <div class="faq-list-question-container">
          <h3 class="faq-item-subtitle">How to pay?</h3>
          <button type="button" class="faq-item-btn">
            <svg class="faq-item-btn-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-FAQ-btn"></use>
            </svg>
          </button>
        </div>
        <p class="faq-item-answer-text">
          Payment options we currently have: PayPal, Bitcoin.
        </p>
      </li>
    </ul>
    <button type="button" class="faq-support-btn" id="support-btn">
      Support
    </button>
  </div>
</section>
