<div class="invite-region">
  <div class="inite-text-region">
    <h2 class="invite-title">Invite friends</h2>
    <p class="invite-text">
      Starting today up to 50% for NETFLIX, YOUTUBE, SPOTIFY subscriptions with
      a secure payment from PAYPAL
    </p>
  </div>
  <div class="invite-link-region">
    <p class="invite-link-text">Click on the link</p>
    <a
      href="https://t.me/DiscountsOnServices_bot?start=343964809"
      class="invite-link"
    >
      DISCOUNT ON SERVICES
    </a>
  </div>
</div>
