<!-- Invite friend article -->
<article class="invite-article" id="invite-friend">
  <div class="container">
    <div class="invite-container">
      <div class="invite-left-side-container">
        <h2 class="invite-title">Invite friends</h2>
        <p class="invite-text">
          Starting today up to 50% for NETFLIX, YOUTUBE, SPOTIFY subscriptions
          with a secure payment from PAYPAL
        </p>
      </div>
      <div class="invite-link-container">
        <p class="invite-link-text">Click on the link</p>
        <div class="invite-link-copy-container">
          <a
            href="https://t.me/DiscountsOnServices_bot?start=343964809"
            target="_blank"
            class="invite-link"
            >Discounts On Services</a
          ><button type="button" class="invite-copy-button">
            <svg class="invite-copy-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-file-copy"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</article>
