<!-- How it works section-->
<section class="hiw-secton" id="how-its-work">
  <div class="container">
    <h2 class="hiw-title">How it works?</h2>
    <ol class="hiw-list">
      <li class="hiw-item">
        <img
          src="./img/second-page-part/hiw-01.svg"
          alt="image plans"
          class="hiw-item-image"
          width="93"
          height="93"
        />
        <p class="hiw-item-progress">Step 1</p>
        <p class="hiw-item-text">Enter your account information</p>
      </li>
      <li class="hiw-item">
        <img
          src="./img/second-page-part/hiw-02.svg"
          alt="image plans"
          class="hiw-item-image"
          width="93"
          height="93"
        />
        <p class="hiw-item-progress">Step 2</p>
        <p class="hiw-item-text">Select the desired subscription and plan</p>
      </li>
      <li class="hiw-item">
        <img
          src="./img/second-page-part/hiw-03.svg"
          alt="image celebrations"
          class="hiw-item-image"
          width="93"
          height="93"
        />
        <p class="hiw-item-progress">Step 3</p>
        <p class="hiw-item-text">Pay your bill with PayPal</p>
      </li>
    </ol>
  </div>
</section>

<load src="/partials/invite.html" />

<!-- About us section -->
<section class="about-us-section" id="about-us">
  <div class="container">
    <h2 class="about-us-title">About us</h2>
    <div class="about-us-content-container">
      <div class="about-us-left-side-content-container">
        <img
          src="./img/logo.svg"
          alt="image of logo about us"
          class="about-us-logo-image"
          width="60"
          height="60"
        />
        <p class="about-us-text">
          We offer you a subscription to various media services at the best
          price.
        </p>
        <p class="about-us-text">
          We have partnered with several companies to help you find the best
          prices for your media subscriptions and provide you with the best
          prices for the Premium subscriptions you want.
        </p>
        <h3 class="about-us-motto">It's simple, fast and economical.</h3>
      </div>
      <picture class="about-us-right-image-container">
        <!-- Desktop -->
        <source
          media="(min-width:1200px)"
          srcset="
            ./img/second-page-part/01-desk_@1x.webp        1x,
            ./img/second-page-part/retina/01-desk_@2x.webp 2x
          "
        />
        <!-- Tablet -->
        <source
          media="(min-width:768px)"
          srcset="
            ./img/second-page-part/01-tab_@1x.webp        1x,
            ./img/second-page-part/retina/01-tab_@2x.webp 2x
          "
        />
        <!-- Mobile -->
        <img
          srcset="
            ./img/second-page-part/01-mob_@1x.webp        1x,
            ./img/second-page-part/retina/01-mob_@2x.webp 2x
          "
          src="./img/second-page-part/01-mob_@1x.webp"
          alt="image of woman in red T-shirt"
          width="327"
          height="412"
          class="about-us-right-side-image"
        />
      </picture>
    </div>
  </div>
</section>

<load src="/partials/faq-table.html" />

<!-- Request section -->
<section class="request-section" id="request">
  <div class="container">
    <div class="request-container">
      <div class="request-text-container">
        <h2 class="request-title visually-hidden">Additional subscription</h2>
        <p class="request-lead">
          Request for an additional subscription that was not found here
        </p>
        <p class="request-text">
          Disney, Amazon Prime, Microsoft Office, Microsoft Windows
        </p>
      </div>
      <button type="button" class="request-btn">Request</button>
    </div>
  </div>
</section>
